<p><%= l(:mail_body_timesheet_approved,
         :manager => (h(@manager) rescue '<Unknown Manager?>'),
         :user => (h(@user) rescue '<Unknown Staff?>'),
         :start_date => h(@start_date),
         :end_date => h(@end_date)) %></p>
<p><%= link_to 'View the Timesheet', @url %></p>
